<img src="images/pyladiesmadrid_alargado.png" style="width: 300px;"/>

# Taller 001 - PyLadies Madrid
# "Instalación de Python y Primeros Pasos"

## Cadenas

Crear dos variables `nombre` y `edad` con tus datos e imprimir el mensaje:

```"Hola me llamo <nombre> y tengo <edad> años"```

In [13]:
nombre = 'Alicia'
edad = 31

In [14]:
# Solución 1:
print('Hola me llamo {0} y tengo {1} años'.format(nombre, edad))

Hola me llamo Alicia y tengo 31 años

In [15]:
# Solución 2:
print('Hola me llamo {} y tengo {} años'.format(nombre, edad))

Hola me llamo Alicia y tengo 31 años

In [16]:
# Solución 3:
print(f'Hola me llamo {nombre} y tengo {edad} años')

Hola me llamo Alicia y tengo 31 años

In [18]:
# Solución 4 (menos aconsejada):
print('Hola me llamo', nombre, 'y tengo', edad, 'años')

Hola me llamo Alicia y tengo 31 años

## Listas

Crear una lista con estos 5 elementos: 
```a, b, c, d, e```

In [19]:
mi_lista = ['a', 'b', 'c', 'd', 'e']

Extraer el primer elemento: `a`

In [20]:
mi_lista[0]

'a'

Extraer el último elemento: `e`

In [21]:
mi_lista[-1]

'e'

Extraer el tercer y cuarto elemento: `c, d`

In [23]:
mi_lista[3:5]  # recuerda que el último numero del intervalo no está incluído, por eso es [3:5] en lugar de [3:4]

['d', 'e']

Extraer los elementos en las posiciones impares: `a, c, e`

In [24]:
mi_lista[::2]

['a', 'c', 'e']

Crear una lista invertida: `e, d, c, b, a`

In [29]:
mi_lista_inv = mi_lista[::-1]
mi_lista_inv

['e', 'd', 'c', 'b', 'a']

Añadir al final un nuevo elemento que sea igual que el segundo: `e, d, c, b, a, d`

In [30]:
mi_lista_inv.append(mi_lista_inv[1])
mi_lista_inv

['e', 'd', 'c', 'b', 'a', 'd']

Contar el número de elementos de la lista: `6`

In [32]:
len(mi_lista_inv)

6

Quitar el primer elemento de la lista: `d, c, b, a, d`

In [33]:
mi_lista_corta = mi_lista_inv[1:]
mi_lista_corta

['d', 'c', 'b', 'a', 'd']

Contar el número de veces que se repite el 1er elemento en toda la lista: `2`

In [35]:
# obtengo el primer elemento de la lista:
primer_elem = mi_lista_corta[0]
# cuento el número de veces que aparece:
mi_lista_corta.count(primer_elem)

2

In [36]:
# también puedo hacerlo en una sola línea
mi_lista_corta.count(mi_lista_corta[0])

2

## Tipos de datos

### Tuplas

Crea una tupla llamada con los siguientes valores:  `a, b, c, d, e`

In [46]:
mi_tupla = ('a', 'b', 'c', 'd', 'e')
mi_tupla

('a', 'b', 'c', 'd', 'e')

Añade un valor al final que sea `f`

In [39]:
('a', 'b', 'c', 'd', 'e') + ('f', )

# ¡cuidado! a diferencia de las listas, en este caso está creando una nueva tupla con los valores, no está ampliando mi_tupla

('a', 'b', 'c', 'd', 'e', 'f')

Sustituye el segundo elemento por una `z` - ¿funciona?

In [41]:
mi_tupla[2] = 'z'  # no funciona porque las tuplas son inmutables

TypeError: 'tuple' object does not support item assignment

Contar el número de elementos de la tupla

In [42]:
len(mi_tupla)

5

### Sets

Crea un set con los siguientes valores: `1, '3', 'a', 'hola'`

In [45]:
mi_set = {1, '3', 'a', 'hola'}
mi_set

{1, '3', 'a', 'hola'}

Añade un valor que sea `0`

In [47]:
mi_set.add(0)
mi_set

{0, 1, '3', 'a', 'hola'}

Añade un valor al principio que sea `'python'` - ¿funciona?

In [48]:
mi_set.add('python')
mi_set  # funciona en cuanto a que lo añade, pero no respeta el orden

{0, 1, '3', 'a', 'hola', 'python'}

Añade el valor `'a'`, ¿qué ocurre?

In [49]:
mi_set.add('a')
mi_set  # no hace nada, porque los sets no aceptan valores repetidos y 'a' ya estaba en mi set

{0, 1, '3', 'a', 'hola', 'python'}

Contar el número de elementos del set

In [50]:
len(mi_set)

6

### Diccionarios

Crea un diccionario con estos valores: `{'edad': 18, 'altura': 1.80, 'puesto': 'alero', 'equipo' : None}`

In [52]:
mi_diccionario = {'edad': 18, 'altura': 1.80, 'puesto': 'alero', 'equipo' : None}
mi_diccionario

{'edad': 18, 'altura': 1.8, 'puesto': 'alero', 'equipo': None}

Asignar al campo *equipo* el valor "PyLadies"

In [54]:
mi_diccionario['equipo'] = 'PyLadies'
mi_diccionario

{'edad': 18, 'altura': 1.8, 'puesto': 'alero', 'equipo': 'PyLadies'}

Mostrar solo las claves del diccionario

In [55]:
mi_diccionario.keys()

dict_keys(['edad', 'altura', 'puesto', 'equipo'])

Mostrar solo los valores del diccionario

In [56]:
mi_diccionario.values()

dict_values([18, 1.8, 'alero', 'PyLadies'])

Contar el número de items del diccionario

In [57]:
len(mi_diccionario)

4

## Operaciones básicas

### Operadores aritméticos

Suma 7 más 4

In [90]:
7 + 4

11

Resta 5 menos 2

In [91]:
5 - 2

7

Multiplíca 57 por 48

In [92]:
57 * 48

2736

Eleva 125 al cuadrado

In [93]:
125 ** 2

15625

Divíde 33 entre 100

In [97]:
 33 / 100

0.33

Multiplica 4 por 'a'

In [84]:
4 * 'a'

'aaaa'

### Operadores de comparación

¿Es 7 menor que 8?

In [85]:
7 < 8

True

¿Es 4 igual que '4'?

In [86]:
4 == '4'

False

¿Es 'True' distinto de True?

In [87]:
True != 'True'

True

¿Es 5 menor o igual que 7, y a su vez mayor o igual que 2?

In [88]:
2 <= 5 <= 7

True

### Operadores de asignación

Crea una variable con el valor 10

In [89]:
mi_variable = 10

Súmale a esa variable 5

In [99]:
mi_variable += 5
mi_variable

20

Multiplícala por 10

In [100]:
mi_variable *= 10

Crea dos variables llamadas *color_1* y *color_2* con los valores 'blanco' y 'negro' en una sóla línea

In [102]:
color_1 = 'blanco'
color_2 = 'negro'
print(f'Variables: color_1={color_1} y color_2={color_2}')

Variables: color_1=blanco y color_2=negro

Intercambia los valores entre *color_1* y *color_2* en la misma línea

In [104]:
color_1, color_2 = color_2, color_1
print(f'Variables: color_1={color_1} y color_2={color_2}')

Variables: color_1=blanco y color_2=negro

### Otros operadores

Crea una lista con los valores *2, 4, 6, 8*

In [106]:
mi_lista = [2, 4, 6, 8]
mi_lista

[2, 4, 6, 8]

¿Está el valor 7 en la lista?

In [107]:
7 in mi_lista

False

Crea dos variables con los valores True y False

In [108]:
a = True
b = False

¿Cuál es el resultado de aplicar el operador *and* a estas variables?

In [109]:
a and b

False

¿Cuál es el resultado de aplicar el operador or a estas variables?

In [110]:
a or b

True

Este notebook ha sido realizado por: Alicia Pérez, Mabel Delgado y María Medina

In [3]:
# Esta celda da el estilo al notebook
from IPython.core.display import HTML
css_file = 'styles/pyladiesmadrid_notebook.css'
HTML(open(css_file, "r").read())